<h2><%= @models.first.otype %></h2>
<% unless @models.first.data.empty? %>
  <table class="table">
    <tr>
      <th>ID</th>
      <% @model_data_keys.each do |k| %>
        <th><%= k %></th>
      <% end %>
      <th></th>
    </tr>
    <% @models.each do |m| %>
      <tr>
        <td><%= m.id %></td>
        <% m.row(@model_data_index).each_pair do |k,v| %>
          <% if m.data.include?(k) %>
            <td><%= best_in_place m, k.to_sym, :type => :input, :html_attrs => {:maxlength => 10, :style => "width:4.4em; height:1.45em" } %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      <tr>
    <% end %>
  </table>
<% end %>
