<h2><%= @model_otype %></h2>
<% unless @models.first.data.empty? %>
  <table class="table" id="models">
    <thead>
      <tr>
        <th>ID</th>
        <% @data_keys.each do |k| %>
          <th><%= k %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>

    <tbody class="page">
      <%= render "model" %>
    </tbody>
  </table>

  <%= paginate @models %>
<% end %>
