<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <h2><%= @model.otype + " #" + @model.external_id.to_s %></h2>

    <table>
      <% @model.data.keys.each do |k| %>
        <tr><td><%= k %></td><td><%= @model.send(k.to_sym) %></td></tr>
      <% end %>
    </table>
  </div>
</div>
