/*
 *= require jquery-ui
 *= require foundation
 *= require font-awesome
 *= require select2
 *= require_tree .
*/

.indent {
  margin-left: 20px;
}

.best_in_place {
  width: 10px;
  line-height: 2em;
}

#infscr-loading {
  width: 10px;
}

.bip_small > form > input#best_in_place {width:30px;}
.bip_med > form > input#best_in_place {width:60px;}
.bip_large > form > input#best_in_place {width:120px;}

#filter-list {
  width: 100%;
}
